#Create a personal script at https://old.reddit.com/prefs/apps
REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=

REDDIT_USERNAME=
REDDIT_PASSWORD=

#If you have 2FA enabled, you will need to provide the TOTP secret key (seed) here.

REDDIT_2FA_KEY=
# Home Assistant URL
HOMEASSISTANT_URL=http://192.168.1.4:8123 (Change me)

# Get this from your Home Assistant profile page under Long-Lived Access Tokens
HOMEASSISTANT_API_KEY=

# Get this from your Home Assistant under the developer, services tab. Search "mobile_app" to list all devices with the Home Assistant app installed. 
#Include the text after the "notify." in the service name. For example, if the service name is "notify.mobile_app_iphone", the target is "mobile_app_iphone
NOTIFICATION_TARGET=mobile_app_iphone

# Icon to be displayed in the notification, I've provided a default one from imgur but you can change it to whatever you like
APOLLO_ICON_URL=https://i.imgur.com/R1hqYob.png

#Time in seconds the script should wait before checking for new notifications
REFRESH_INTERVAL=300